@using CadeMeuMedico.Models;

@helper RetornaDoisBannersMaisRecentes() {

var bd = new CadeMeuMedico.Models.EntidadesCadeMeuMedicoBD();
var banners = bd.BannersPublicitarios.OrderByDescending(b => b.IDBanner).Take(2);
    
<div style="width:100%; text-align:left; border:1px solid #efefef; padding:10px; display:inline-block;">
    @foreach(var b in banners) {
    <div style="width:125px; height:125px; float:left; margin-right:10px;">
        <a href="@b.LinkBanner">
            <img src="~/Uploads/Banners/@b.BannerCampanha" title="@b.TituloCampanha" />
        </a>
    </div>
    }
</div>

}