<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://livroaspnetmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>livroaspnetmvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$livroaspnetmvc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntidadesCadeMeuMedicoBD" Order="1" Enabled="False">
          <Destination Path="Data Source=y0mcl86krx.database.windows.net,1433;Initial Catalog=CadeMeuMedicoBD;User ID=livroaspnetmvc;Password=098poiU&amp;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CadeMeuMedico.Models.EntidadesCadeMeuMedicoBD, CadeMeuMedico" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntidadesCadeMeuMedicoBD-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModeloDeDados.csdl|res://*/Models.ModeloDeDados.ssdl|res://*/Models.ModeloDeDados.msl;provider=System.Data.SqlClient;provider connection string="Data Source=y0mcl86krx.database.windows.net,1433;Initial Catalog=CadeMeuMedicoBD;User ID=livroaspnetmvc;Password=098poiU&amp;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>